<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.citicup.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/ChineseMajorAutomobileGroupProductionMapper.xml"/>
        <mapper resource="mapper/ChineseMajorAutomobileGroupBasicPassengerVehiclesProductionMapper.xml"/>
        <mapper resource="mapper/ChinesePassengerCarSalesDividedByBrandMapper.xml"/>
        <mapper resource="mapper/ChinesePassengerCarSalesDividedByFuelMapper.xml"/>
        <mapper resource="mapper/ChinesePassengerCarSalesDividedByTypeMapper.xml"/>
        <mapper resource="mapper/ChinesePassengerCarSalesMapper.xml"/>
        <mapper resource="mapper/PerCapitaGdpIndexInChinaMapper.xml"/>
        <mapper resource="mapper/HighwayPassengerTurnoverInChinaMapper.xml"/>
        <mapper resource="mapper/ChineseCommercialVehicleSalesDividedByFuelMapper.xml"/>
        <mapper resource="mapper/ChineseCommercialVehicleSalesDividedByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseCommercialVehicleSalesMapper.xml"/>
        <mapper resource="mapper/FixedAssetsInvestmentPriceIndexInChinaMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingPassengerCarProductionMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingPassengerCarProductionDividedByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingPassengerCarSalesDividedByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingPassengerCarSalesMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingProductionMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingCommercialVehicleSalesByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingProductionDividedByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingCommercialVehicleSalesByTypeMapper.xml"/>
        <mapper resource="mapper/ChineseDomesticManufacturingCommercialVehicleSalesMapper.xml"/>
        <mapper resource="mapper/MonthlyAverageMarketPriceOfNaturalRubberInChinaMapper.xml"/>
        <mapper resource="mapper/CoachProductionInChinaMapper.xml"/>
        <mapper resource="mapper/ConsumptionExpenditureOfChineseResidentsMapper.xml"/>
        <mapper resource="mapper/ChineseNewRegisteredCivilCarsMapper.xml"/>
        <mapper resource="mapper/ChineseAutoProductionMapper.xml"/>
        <mapper resource="mapper/AverageGrowthRateOfTheThreeYearSalesOfChineseAutoEnterprisesMapper.xml"/>
        <mapper resource="mapper/CashFlowLiabilityRatioOfAutomobileEnterprisesInChinaMapper.xml"/>
        <mapper resource="mapper/AssetLiabilityRatioOfAutomobileEnterprisesInChinaMapper.xml"/>
        <mapper resource="mapper/ProfitMarginOfAutomobileSalesInChinaMapper.xml"/>
        <mapper resource="mapper/ChineseCarOwnershipMapper.xml"/>
        <mapper resource="mapper/ChineseCarOwnershipPerOneThousandPeopleMapper.xml"/>
        <mapper resource="mapper/ChineseCarDealerInventoryFactorMapper.xml"/>
        <mapper resource="mapper/ChineseCarDealersEarlyWarningIndexMapper.xml"/>
        <mapper resource="mapper/MainBusinessCostOfAutoIndustryInChinaMapper.xml"/>
        <mapper resource="mapper/NumberOfEnterprisesAndLossEnterprisesInAutoIndustryInChinaMapper.xml"/>
        <mapper resource="mapper/CashFlowLiabilityRatioOfAutomobileEnterprisesInChinaMapper.xml"/>
        <mapper resource="mapper/FixedAssetInvestmentInChinasAutoIndustryAccountsForTheProportionOfInvestmentInChinaMapper.xml"/>
        <mapper resource="mapper/FixedAssetsInvestmentOfAutoIndustryInChinaMapper.xml"/>
        <mapper resource="mapper/ChinasAutoIndustryAccountsForTheProportionOfGdpMapper.xml"/>
        <mapper resource="mapper/ChineseAutoIndustryNewCapacityMapper.xml"/>
        <mapper resource="mapper/TotalDebtOfAutoIndustryInChinaMapper.xml"/>
        <mapper resource="mapper/TotalAssetsOfAutoIndustryInChinaMapper.xml"/>
        <mapper resource="mapper/ChineseCarSalesMapper.xml"/>
        <mapper resource="mapper/HeavyTruckProductionInChinaMapper.xml"/>
        <mapper resource="mapper/SteelPriceInChinaMapper.xml"/>
        <mapper resource="mapper/ComparisonOfValuationPerformance_codeNameMapper.xml"/>
        <mapper resource="mapper/ComparisonOfValuationPerformance_otherAttributesMapper.xml"/>
        <mapper resource="mapper/ComparisonOfValuationPerformance_peMapper.xml"/>
        <mapper resource="mapper/TheGlobalPassengerCarSalesMapper.xml"/>
        <mapper resource="mapper/TheGlobalCommercialVehicleSalesMapper.xml"/>
        <mapper resource="mapper/TheGlobalCarOwnershipPerOneThousandPeopleMapper.xml"/>
        <mapper resource="mapper/TheGlobalCarOwnershipMapper.xml"/>
        <mapper resource="mapper/CompanyClassificationMapper.xml"/>
        <mapper resource="mapper/CompanyBasicInformationMapper.xml"/>
        <mapper resource="mapper/NetProfitAndTotalProfitRatioMapper.xml"/>
        <mapper resource="mapper/NetProfitGrowthRateMapper.xml"/>
        <mapper resource="mapper/InterestCoverageRatioMapper.xml"/>
        <mapper resource="mapper/TotalProfitPreTaxProfitRatioMapper.xml"/>
        <mapper resource="mapper/TotalProfitGrowthRateMapper.xml"/>
        <mapper resource="mapper/GraphicsAndDataDeriveTotalProfitsFromChinasAutoIndustryMapper.xml"/>
        <mapper resource="mapper/DaysInInventoryMapper.xml"/>
        <mapper resource="mapper/InventoryTurnoverRatioMapper.xml"/>
        <mapper resource="mapper/ContrastOfMarketPerformance_newThirdBoardMapper.xml"/>
        <mapper resource="mapper/ContrastOfMarketPerformance_allMapper.xml"/>
        <mapper resource="mapper/ContrastOfMarketPerformance_shanghaiAndShenzhenASharesMapper.xml"/>
        <mapper resource="mapper/ComparisonOfMarketPerformance_codeNameMapper.xml"/>
        <mapper resource="mapper/ComparisonOfMarketPerformance_risefalMapper.xml"/>
        <mapper resource="mapper/ComparisonOfMarketPerformance_sheet2Mapper.xml"/>
        <mapper resource="mapper/DaysSalesOutstandingMapper.xml"/>
        <mapper resource="mapper/AverageAccountsReceivableTurnoverRatioMapper.xml"/>
        <mapper resource="mapper/GermanCarSalesMapper.xml"/>
        <mapper resource="mapper/TotalAssetsGrowthRateMapper.xml"/>
        <mapper resource="mapper/ProfitMarginOfTheCostAndExpenseMapper.xml"/>
        <mapper resource="mapper/GrowthRateOfOwnersEquityMapper.xml"/>
        <mapper resource="mapper/RateOfReturnOnInvestmentMapper.xml"/>
        <mapper resource="mapper/TheJapaneseCarSalesMapper.xml"/>
        <mapper resource="mapper/CarBusinessNewsMapper.xml"/>
        <mapper resource="mapper/AutomobileIndustryBulletinInformationMapper.xml"/>
        <mapper resource="mapper/AutomobileIndustryPolicyTrendsMapper.xml"/>
        <mapper resource="mapper/AutomobileIndustryNewsMapper.xml"/>
        <mapper resource="mapper/CurrentRatioMapper.xml"/>
        <mapper resource="mapper/TurnoverOfCurrentAssetsMapper.xml"/>
        <mapper resource="mapper/ComparisonOfEarningsForecast_codeSplitTableMapper.xml"/>
        <mapper resource="mapper/ComparisonOfEarningsForecast_codeNameMapper.xml"/>
        <mapper resource="mapper/ComparisonOfEarningsForecast_sheet1Mapper.xml"/>
        <mapper resource="mapper/AmericanCarSalesMapper.xml"/>
        <mapper resource="mapper/EquityTurnoverMapper.xml"/>
        <mapper resource="mapper/OperatingProfitGrowthMapper.xml"/>
        <mapper resource="mapper/TotalOperatingCostGrowthRateMapper.xml"/>
        <mapper resource="mapper/OperatingCostRatioMapper.xml"/>
        <mapper resource="mapper/RevenueGrowthMapper.xml"/>
        <mapper resource="mapper/OperatingMarginMapper.xml"/>
        <mapper resource="mapper/WorkingCapitalAndLoanRatioMapper.xml"/>
        <mapper resource="mapper/StatusOfIndustryListing_allMapper.xml"/>
        <mapper resource="mapper/StatusOfIndustryListing_newThirdBoardMapper.xml"/>
        <mapper resource="mapper/StatusOfIndustryListing_shanghaiAndShenzhenASharesMapper.xml"/>
        <mapper resource="mapper/ComparisonOfIndustryHistory_allMapper.xml"/>
        <mapper resource="mapper/ComparisonOfIndustryHistory_allASharesMapper.xml"/>
        <mapper resource="mapper/ComparisonOfIndustryHistory_newThirdBoardMapper.xml"/>
        <mapper resource="mapper/ComparisonOfIndustryHistory_shanghaiAndShenzhenASharesMapper.xml"/>
        <mapper resource="mapper/ComparisonOfFinancialData_codeNameMapper.xml"/>
        <mapper resource="mapper/ComparisonOfFinancialData_splitTableMapper.xml"/>
        <mapper resource="mapper/ComparisonOfFinancialRatio_codeNameMapper.xml"/>
        <mapper resource="mapper/ComparisonOfFinancialRatio_allMapper.xml"/>
        <mapper resource="mapper/AssetLiabilityRatioMapper.xml"/>
        <mapper resource="mapper/QuickRatioMapper.xml"/>
        <mapper resource="mapper/GainPassengerCarOverallPriceChangeIndexMapper.xml"/>
        <mapper resource="mapper/GainPassengerCarOverallEndPreferentialIndexMapper.xml"/>
        <mapper resource="mapper/CompanySizeRankMapper.xml"/>
        <mapper resource="mapper/CirculationMarketValueAndTotalMarketValueMapper.xml"/>
        <mapper resource="mapper/BookValueMapper.xml"/>
        <mapper resource="mapper/TotalAssetsMapper.xml"/>
        <mapper resource="mapper/AverageNumberOfEmployeesInChinaAutoIndustryMapper.xml"/>
        <mapper resource="mapper/CashFlowLiabilityRatioOfAutomobileEnterprisesInChinaMapper.xml"/>
        <mapper resource="mapper/ChinaAutoIndustryFinishedGoodsInventoryMapper.xml"/>
        <mapper resource="mapper/InventoryTurnoverMapper.xml"/>
        <mapper resource="mapper/Quick_RatioMapper.xml"/>
        <mapper resource="mapper/TurnoverOfTotalAssetsMapper.xml"/>
        <mapper resource="mapper/ROE_changeMapper.xml"/>
        <mapper resource="mapper/GPOA_changeMapper.xml"/>
        <mapper resource="mapper/ProfitGrowthRateMapper.xml"/>
        <mapper resource="mapper/ConsistenceExpectationMapper.xml"/>
        <mapper resource="mapper/ConsistenceExpectationPredictProfitMapper.xml"/>
        <mapper resource="mapper/DealersNumChange_1MMapper.xml"/>
        <mapper resource="mapper/DividendRateMapper.xml"/>
        <mapper resource="mapper/MarketSellingRateRecMapper.xml"/>
        <mapper resource="mapper/PE_RatioRecMapper.xml"/>
        <mapper resource="mapper/TurnoverStd_6DMapper.xml"/>
        <mapper resource="mapper/TurnoverMean_6DMapper.xml"/>
        <mapper resource="mapper/TenoreRatio_20DMapper.xml"/>
        <mapper resource="mapper/TenoreRatio_60DMapper.xml"/>
        <mapper resource="mapper/CostProfitMarginCumuMapper.xml"/>
        <mapper resource="mapper/IncometaxProfitPercentMapper.xml"/>
        <mapper resource="mapper/AnalysisIndexVisitorMapper.xml"/>
        <mapper resource="mapper/stockEPSMapper.xml"/>
        <mapper resource="mapper/stockPriceMapper.xml"/>
        <mapper resource="mapper/DisposedProfitMapper.xml"/>
        <mapper resource="mapper/stockPEMapper.xml"/>
        <mapper resource="mapper/stockTotalsMapper.xml"/>
    </mappers>
</configuration>
